.idea/
notes.txt
.venv/
__pycache__/
public/
.env
.coverage
.mypy_cache
.pytest_cache
*.egg-info
build/
dist/
public/.*/
django_api/static/
docs/source/generated/
credentials.json
logs/
target/
dbt_packages/
db.sqlite3
